PORT=3000
JWT_SECRET=troque-por-um-segredo-forte
MONGODB_URI=""
NODE_ENV=development


# PORT=3000
# JWT_SECRET=troque-por-um-segredo-forte
# MONGODB_URI="mongodb+srv://usuario_91:2KtFzucXNVsU290v@cluster0.b8mgsby.mongodb.net/restaurante?retryWrites=true&w=majority&appName=Cluster0"
# NODE_ENV=development
    
